# Development files, left out of release archives
/.gitattributes export-ignore
/.gitignore export-ignore
/.semgrepignore export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/ecs.php export-ignore
/rector.php export-ignore
/tools export-ignore
