{% if config.plugins.gis.private.load == true %}
	<div id="leaflet" style="width: 100%; height: {{ config.plugins.gis.private.height }}px; margin-bottom: 24px; background-color: grey;"></div>
{% endif %}